transformers @ git+https://github.com/huggingface/transformers.git
accelerate @ git+https://github.com/huggingface/accelerate.git

datasets
torch
numpy
tqdm
setfit
sentence_transformers
spacy
tomli
wandb
